@{
    ViewBag.Title = "Index";
    int count = 1;
    if (ViewBag.TotalPaginas > 0)
    {
        count = Convert.ToInt32(ViewBag.TotalPaginas);
    }
}

<h2>Index</h2>

<p>
    <a href="#" onclick="getModal('@Url.Action("Crear",new { Controller= "Autor", Area="Autor" })'); return false;" data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Nuevo
    </a>
</p>

<div class="row">
    <div class="col-lg-12">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>
                @{
                    <li><a id="firstPage" href="#" onclick="goToPage('@Url.Action("Listar", new { controller = "Autor", area = "Autor" })',1); return false;"> 1</a></li>
                    for (int i = 2; i <= 10; i++)
                    {
                        <li><a href="#" onclick="goToPage('@Url.Action("Listar", new { controller = "Autor", area = "Autor" })', @i); return false;"> @i</a></li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Size</button>
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="#" onclick="getSize(10); return false;">10</a></li>
                <li><a class="dropdown-item" href="#" onclick="getSize(15); return false;">15</a></li>
                <li><a class="dropdown-item" href="#" onclick="getSize(20); return false;">20</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div id="ContenidoAutor" class="col-lg-12">
    </div>
</div>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/bundles/Autor")
@CustomHelpers.ObtenerModal()
